html,
body{
	padding: 0;
	margin: 0;
}

/*SECOND HALF */

.second-half-section h3,p{
	padding: 0;
	margin: 0;
}
.second-half-section {
	background-color: #fbfcfd;
}
.second-half-section .cursor-pointer{
	cursor: pointer;
}
/*MIDDLE SECTION*/
.middle-section{
	padding-top: 10vh;
	width: 100%;
	background-color: #0C0F32;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	
}

.middle-section .person{
	position: absolute;
	display:none;
	opacity: 0.3;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	transform: scale(0.7,0.7);
	
}


.middle-section .person:hover{
	opacity: 1;
	filter: blur(0px);
	  -webkit-filter: blur(0px);
	  transform: scale(1.3,1.3);
	  transition: 0.5s ease-in-out;
}

.main-image:hover{
	animation: spin 1s 1 forwards;

}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-20deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-20deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-20deg);}
}

.person1{
	top:10%;
	left:20%;
}
.person2{
	top:30%;
	left:10%;
}
.person3{
	top:30%;
	left:18%;
}
.person4{
	top:30%;
	left:30%;
}
.person5{
	top:45%;
	left:18%;
}

.person6{
	top:10%;
	right:15%;
}
.person7{
	top:30%;
	right:10%;
}
.person8{
	top:30%;
	right:21%;
}
.person9{
	top:30%;
	right:30%;
}
.person10{
	top:50%;
	right:18%;
}
.middle-section .heading h2{
	font-family: Lato, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	

}
.middle-section .heading p{
	color: rgba(256,256,256,0.24);
	margin-bottom: 5vh;
}

.middle-section .main-image{
	width: 30%;
	display: flex;
	justify-content: center;
	align-self: center;
	position: relative;
}
.middle-section .wave-element{
	border-top: rgba(112, 112, 112,0.33) 1px solid;
	width: 80%;
	margin: 0 auto;
	padding: 6vh 0;
}

.middle-section .wave-element h2{
	margin: 0.4rem;
	margin-left: 0;
	font-weight: 400;

}

.middle-section .round{
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	background-color:#FF992E;
	z-index: 2;
	position: absolute;
	bottom:-1vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.middle-section .round h1{
	font-size: 0.8rem;
	font-weight: 500;
}
.middle-section .content p{
font-size: 1rem;
width: 80%;
color: #D6D6D6;
margin: 1.5rem auto;}


.middle-section .content h3{
	font-size: 1.5rem;
	color: #8F8BFF;
	font-weight: 400;
}

.middle-section .content h5{
	font-size: 1rem;
	color: #D6D6D6;
	font-weight: 400;
	margin: 0.5rem 0;
}
.middle-section .wave-element{
	margin-top: 2rem;
}

.middle-section .wave-button-container{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3D37F1;
	width: 40%;
	margin: 0 auto;
	padding: 5% 15%;
	border-radius: 30px 30px;
	margin-top: 4vh;
	
}
.middle-section .wave-button-container button{
	margin-left: 5%;
	color: white;
	border-style: solid;
	border: none;
	border-radius: 15px;
	padding: 0px;
	background-color: #3D37F1;
	font-family: Poppins, Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.1rem;
}
.middle-section .wave-element p{
	color: rgba(256,256,256,0.24);
	font-size: 0.7rem;
	text-align: left;
}
.middle-section .wave-element h2{
	color: white;
	font-size: 1.7rem;
	text-align: left;
}

.middle-section .wave-left{
	margin-left: 5vw;
}

.wave-button-container button{
	padding: 5%;
}
/*SECTION 6 */

.section-6 {
	height: auto;
	background-color: #f8f8f8;
	width: 100%;
	display: flex;
	justify-content: center;
}

.section-6 .cards {
	padding: 10vh 10vw;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	gap: 5vh 0;
}

.section-6 .card {
	width: 70%;
	height: 31vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 1.5vh;
}

.section-6 .card {
	color: white;
	font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 17%;
}

.section-6 .card:hover{
	transform: scale(1.1);
	transition: 0.3s ease-in;
}

.section-6 .card img {
	padding-bottom: 1.5vh;
	width: 25%;
	height: auto;
}

.section-6 .card h3 {
	font-size: 2rem;
	padding: 0.5vh 0;
	font-weight: 380;
}

.section-6 .card p {
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.2rem;
	line-height: 10px;
	padding: 0.5vh 0;
	font-weight: 300;
	letter-spacing: 1px;
}

.section-6 .card-left {
	background-image: url("../images/section-6-left-image.svg");
	box-shadow: inset 0 0 0 1000px rgba(19, 27, 124, 0.9);
}
.section-6 .card-left:hover{
	box-shadow: inset 0 0 0 1000px rgba(19, 27, 124, 1);

}
.section-6 .card-center {
	background-image: url("../images/section-6-center-image.svg");
	box-shadow: inset 0 0 0 1000px rgba(243, 111, 33, 0.8);
}
.section-6 .card-center:hover {
	box-shadow: inset 0 0 0 1000px rgba(243, 111, 33, 1);
}

.section-6 .card-right {
	background-image: url("../images/section-6-right-image.svg");
	box-shadow: inset 0 0 0 1000px rgba(165, 162, 246, 0.8);
}

.section-6 .card-right:hover {
	box-shadow: inset 0 0 0 1000px rgba(165, 162, 246, 1);
}
/*SECTION 7 */

.section-7 {
	background-color: #fbfcfd;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10vh;
}

.section-7 img {
	width: 80%;
	display: flex;
}

.section-7 .flow {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 4vh;
}

.section-7 .flow-item {
	margin: 4%;
	display: grid;
	grid-template-columns: 20% 80%;
	width: 80%;

}

.section-7 .flow-item-content {
	margin-left: 2vw;
}

.section-7 .round {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	color: white;
	font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7rem;
	font-weight: 400;
	align-self: start;
	justify-self: center;
}

.section-7 .round1 {
	background-color: #3d37f1;
}


.section-7 .round2 {
	background-color: #9997df;
}

.section-7 .round3 {
	background-color: #ffba3f;
}

.section-7 .round4 {
	background-color: #e66e6e;
}

.section-7 .round5 {
	background-color: #66659f;
}

.section-7 .round6 {
	background-color: #f17637;
}

.section-7 .round7 {
	background-color: #37f1be;
}

.section-7 .round8 {
	background-color: #f137e5;
}

.section-7 .round9 {
	background-color: #f13d37;
}

.section-7 .content {
	color: #747474;
}

.section-7 .content h4 {
	font-family: Lato, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #5a5454;
	font-size: 1.5rem;
	margin-left: 5vw;
}

.section-7 .content p {
	font-size: 1.3rem;
	margin-left: 5vw;
}

.section-7 .flow-item h4 {
	margin: 0;
	font-size: 1.7rem;
	font-weight: 400;
}

.section-7 .flow-item p {
	margin: 0;
	font-size: 0.9rem;
	padding-top: 0.5rem;
	line-height: 1.8rem;
	margin-left: 0;
	font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/*SECTION 8 */

.section-8 {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fbfcfd;
}

.section-8 .content {
	text-align: center;
	width: 80%;
}

.section-8 h2 {
	font-size: 3rem;
	color: #5a5454;
	font-weight: 400;
	font-family: Lato, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	margin: 1.5rem 0;
}

.section-8 .cards {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	width: 80%;
}

.section-8 .card {
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 40px 40px rgba(197, 195, 249, 0.3);
	margin: 0.7rem;
	justify-self: center;
}

.section-8 .img-header {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.section-8 .img-arrow {
	align-self: start;
	padding: 8%;
	padding-left: 0;
	width: 8%;
}

.section-8 .content p {
	font-size: 1rem;
	padding-bottom: 4rem;
	line-height: 1.8rem;
	font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #747474;
}

.section-8 h5 {
	font-family: Lato, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-weight: bold;
	font-size: 1.3rem;
	margin-bottom: 1rem;
	color: #5a5454;
}

.section-8 .card p {
	font-size: 1rem;
	padding-top: 1rem;
	line-height: 1.8rem;
	font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #747474;
}

.section-8 .card-content {
	margin-left: 10%;
}
/*SECTION 9 */
.section-9 {
	width: 100%;
	background-color: #fbfcfd;
}

.section-9 .logos {
	width: 80%;
	height: auto;
	margin: 3vh auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
}

.section-9 .logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-9 .logo img {
	width: 80%;
}

footer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.footer-container {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.footer-left .footer-logo{
	margin: 2vh 0;
}
footer .icons{
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
	justify-content: center;
	margin-top: 2vh;
	color:#FFFFFF;
}
footer .footer-icon{
	background-color: #0A315A;
	height: 3rem;
	width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

footer .footer-left p {
	color: #747474;
	font-size: 1rem;
	width: 80%;
	margin: 0 auto;
	font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

footer h4 {
	font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #747474;
	font-size: 1.3rem;
	font-weight: 490;
}

footer p {
	font-size: 0.9rem;
	line-height: 1.6rem;
	color: #4b647e;
	font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-weight: 400;
}

footer p i{
	background-color: white;
}

footer .rights-reserved p {
	margin: 4vh 0;
	margin-bottom: 2.5vh;
	font-size: 0.7rem;
	font-family: Roboto, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: #969ca2;
}

@media only screen and (min-width: 800px) {

	html{
		font-size: 10px;
	}
	.middle-section .round h1{
		font-size: 1.5rem;
	}

	.middle-section .heading h2{
		font-size: 1.8rem;
		margin-bottom: 1rem;
		
	}

	
	.middle-section .wave-element h2{
		font-weight: 400;
		margin-left: 0;
	}
	.middle-section .content p{
		font-size: 1.3rem;
		   width: 25%;
		   margin-top: 0;
	}

	.middle-section .person {
		display: block;
	}
		
	.middle-section .wave-element{
		display: grid;
		grid-template-columns: 60% 40%;
		width: 50%;
	}
	.middle-section .wave-left{
		margin-left: 1vw;
	}
	.middle-section .main-image{
		margin: 10vh 0;
		margin-top: 5vh;
	}
	.middle-section .wave-button-container{
		margin: 3% auto;
		margin-top: 4%;
		height: 10%;
		padding: 6% 10%;
	}
	
	.middle-section .wave-button-container img{
		width: 12%;
	}
	.section-6 .cards {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		justify-content: space-around;
	}
	
	.section-6 .card-left {
		grid-column: 2;
	}

	.section-6 .card-center {
		grid-column: 3;
	}

	.section-6 .card-right {
		grid-column: 4;
	}

	.section-7 .flow {
		grid-template-columns: 1fr 1fr;
	}
	
	.section-7 .content h4{
		margin-left: 0;
	}

	.section-7 .content p{
		margin-left: 0;
	}
	.section-8 .cards {
		grid-template-columns: 1fr 1fr 1fr;
		width: 60%;
	}

	.section-8 .content p {
		width: 30%;
		text-align: center;
		margin: 0 auto;
	}

	.section-8 .img-arrow {
		width: 13%;
	}

	.section-9 .logos {
		width: 60%;
	}

	.section-9 .logos {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	footer .footer-container {
		width: 60%;
		margin: 0 auto;
		grid-template-columns: 2fr 1fr 1fr 1fr;
		justify-content: start;
		text-align: left;
		align-items: start;
	}

	footer .footer-container>div {
		margin-left: 7%;
	}

	footer h4 {
		margin-top: 0;
	}

	footer p {
		line-height: 4rem;
	}

	footer .footer-left p {
		margin-top: 2vh;
		margin-left: 0;
		line-height: 2rem;
		width:60%;
	}
	.footer-left .footer-logo{
		margin: 0.5vh 0;
	}

	footer .rights-reserved p {
		text-align: left;
		margin-left: 22%;
		font-size: 1rem;
	}

	footer .p-container p {
		font-size: 1.3rem;
		line-height: 3rem;
	}
	.footer-logo{
		width:45%;
	}
	footer .icons{
		justify-content: left;
	}
	
}

@media only screen and (min-width: 1200px) {

	.section-7 {
		flex-direction: row;
		justify-content: center;
		margin: 0 auto;
		width: 70%;
	}

	.section-7 img {
		width: 55%;
		align-self: start;
	}

	.section-7 .content {
		padding: 0 1vw;
	}

	.section-7 .content h4 {
		margin-left: 1vw;
	}
	.section-7 .content p{
		margin-left: 1vw;
	}

	.section-7 .flow-item-content {
		margin-left: 0.5vw;
	}
}